<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            box-sizing: border-box;
            font-family: Arial;
        }

        body {
            background-color: black;
            width: 100%;
            min-height: 100vh;
        }

        .head {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            font-size: 60px;
            font-weight: 1000;
            color: #fff;
        }

        .head h1 {
            text-decoration: underline;
            transform: translateY(-300px);
            animation: scrollDown 1s ease-in-out 1s forwards;
        }

        @keyframes scrollDown {
            from {
                transform: translateY(-300px);
                filter: blur(20px);
                filter: drop-shadow(20px);
                filter: grayscale(20px);
                filter: contrast(20px);
                filter: brightness(20px);
                scale: calc(0.1);
            }

            to {
                transform: translateY(0px);
                filter: blur(0px);
                filter: drop-shadow(0px);
                filter: grayscale(0px);
                filter: contrast(0px);
                filter: brightness(0px);
                scale: calc(1);
                color: gold;
            }
        }

        .btn button {
            padding: 10px 25px;
            border: none;
            border-radius: 10px;
            background-color: rgb(61, 61, 245);
            color: #fff;
            font-weight: bold;
        }
        .post{
            min-width: 300px;
            min-height: 100px;
            background-color: rgb(53, 53, 53);
            margin: 10px;
            color: #fff;
            padding: 8px;
        }
      button{
        padding: 10px 20px;
        margin:-15px 5px 5px 5px;
        background-color: #4c4949;
        color: wheat;
        border: none;
        border-radius: 10px;
      }
      button:hover{
        border: 2px solid #fff;
        cursor: pointer;
      }
      button span:hover{
        text-decoration: underline;
      }
    </style>
</head>

<body>
    <div class="head">
        <h1>Post Manager</h1>

    

        <div class="btn">
            <a href="http://localhost:3000/post"><button>create post</button></a>
        </div>
    </div>
        <% for(let posts of post){ %>
            <div class="post">
                <p>id: <%= posts.id %></p>
                <h2>username: @<%=posts.username%></h2>
                <span>content: <%=posts.content%></span>
                <hr><br>
                <a href="/post/new/<%= posts.id %>"><button>👁️ <span>View details</span></button></a>
                <a href="/post/new/<%= posts.id %>"><button>♻️ <span>Edit Post</span></button></a>
                </div>
                
        <% } %>

</body>

</html>